.container {
    max-width: 980px;
    margin: 0px auto;
    padding: 0px 15px;
    box-sizing: content-box;
    width: 100%;
}

.header-container {
    max-width: 1350px;
}


section {
    padding-top: 100px;
    font-family: 'Raleway', sans-serif;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.hero__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    margin: 0 auto;
}

/* ...............................HEADER.................... */
.header {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 2;
    padding-top: 76px;
}

.logo {
    font-size: 30px;
    line-height: 30px;
    font-family: 'Jomhuria', cursive;
    color: white;
    letter-spacing: 8px;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

/* ...............SECTION!................ */

.menu-items {
    display: flex;
}

.menu-item {
    margin-right: 116px;
    color: white;
    font-weight: 400;
    line-height: 21px;
    font-family: 'Raleway', sans-serif;
}

.menu-item:hover {
    color: red;
    transition: all 0.5s;
    border-bottom: 1px solid white;

}

.svg-icons {
    display: flex;
}


.svg-icons a:hover {
    color: red;
}

.svg-icon:not(:last-child) {
    margin-right: 36px;
}

.main-title {
    z-index: 1;
    position: relative;
    padding-top: 173px;
    padding-bottom: 274px;
}

.main-section {
    max-width: 100%;
    align-items: center;
    text-align: center;
    position: relative;
}

.main-title h1 {
    color: white;
    font-size: 45px;
    font-weight: 600;
    line-height: 63px;
    letter-spacing: 3px;

}

.main-section-container {
    max-width: 728px;
}

.button {
    display: flex;
    justify-content: center;
    padding-top: 82px;

}

.buttons {
    background-color: #FFC6CD;
    padding: 18px 37px;
    color: black;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}

.buttons:hover {
    background-color: red;
    color: white;
}

/* ..............ABOUTUS................ */

.title {
    padding-bottom: 70px;
}

.title h1 {
    font-size: 35px;
    line-height: 41px;
    font-weight: 600;
}


.about {
    display: flex;
    align-items: center;
}

.about-rigth {
    width: 391px;
    margin-left: 95px;
}


.about-text {
    font-size: 15px;
    font-weight: 400;
    color: black;
    line-height: 18px;
}

.about-text:not(:last-child) {
    margin-bottom: 20px;
}

/* ...............CATALOG.................. */

.catalog {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding-bottom: 90px;
}

.title-catalog {
    margin-top: 15px;
}

.catalog-button {
    margin-top: 15px;
}

.catalog-buttons {
    padding: 0;
    margin-top: 30px;
}

/* ................FORMSECTION.......... */

.form-title {
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

input {
    width: 540px;
    position: relative;
    height: 74px;
    padding-left: 27px;
    border-color: #FFC6CD;

}

.btn-form {
    position: absolute;
    margin-top: 27px;
    margin-left: 258px;
}

/* .............FOOTER.............. */

.footer {
    background-color: black;
    padding-top: 150px;
    padding-bottom: 150px;
}

.footer-container {
    max-width: 1355px;
}

.footer-items-all {
    color: white;
    display: flex;
    justify-content: space-between;
}

.footer-info-left {
    display: flex;
}


.logo-footer {
    display: flex;
    align-items: center;
}

.footer-item-list {
    padding-left: 114px;
}

.footer-items {
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 2px;
    font-family: 'Raleway', sans-serif;
}

.footer-items:not(:last-child) {
    margin-bottom: 19px;
}

.footer-items a {
    color: white;
}

.footer-items a:hover{
    color: red;
    transition: all 0.3s;
}

.number {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    line-height: 28px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 11px;
}

.mail {
    margin-bottom: 17px;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    line-height: 21px;
    display: flex;
    justify-content: end;

}

.button-footer {
    color: white;
    font-size: 20px;

}

.footer-buttons {
    background: none;
    border: 1px solid white;
    line-height: 21px;
    font-weight: 400;
}


.svg-icon{
    margin-right: 36px;
}

/* Responsive Adaptive */

@media screen and (max-width:1280px){
    .container{
        width: 960px;
    }

}

@media screen and (max-width:992px){
    .container{
        width: 720px;
    }
}

@media screen and (max-width:768px){
    .container{
        width: 540px;
    }
    .title{
        text-align: center;
    }
    .about{
        flex-direction: column;
        margin: 0 auto;
    }
    .menu-items{
        display: none;
    }
    .about-rigth{
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        padding-top: 50px;
    }
    .footer-items-all{
        flex-direction: column;
    }
    .footer-item-list{
        display: none;
    }
    .mail{
        justify-content: flex-start;
        padding-bottom: 20px;
    }

    .footer-info-left{
        padding-bottom: 20px;
    }
}

@media screen and (max-width:576px){
    .container{
        width: 90%;
    }
    .btn-form{
        margin-left: 150px;;
    }
    .catalog{
        flex-direction: column;
        margin: 0 auto;
    }
    .catalog-items{
        margin-bottom: 40px ;
    }
}
